Functions

In [ ]:
# Syntax

In [2]:
def test(): # def(definition) - keyword, test - name 
    print("Hey")

In [4]:
test() # function calling

Hey

In [14]:
def test1():
    return "hello" # returning result

In [15]:
test1()

'hello'

In [16]:
test1()+ " How are you"

'hello How are you'

In [24]:
def test2():
    return "nikhil",234.56,[3,4,5,] # returning all data type

In [26]:
a,b,c = test2() # Assingning values to variables which are returned by a function

In [27]:
a

'nikhil'

In [28]:
b

234.56

In [29]:
c

[3, 4, 5]

In [30]:
def test4():
    a = 5 + 6 / 2
    return a

In [31]:
test4()

8.0

In [32]:
def test5(a,b,c):
    d = a+b/c
    return d

In [34]:
test5(5,6,7)

5.857142857142857

In [1]:
def test6(a,b):
    return a+b

In [2]:
test6([3,4,5,6] , [6,5,6])

[3, 4, 5, 6, 6, 5, 6]

In [4]:
l = [1,2,3,4,"Nikhil","Gour",[1,2,3,4,5,6]]

In [5]:
l1 = []
for i in l:
    if type(i) == int or type(i) == float:
        l1.append(i)

In [6]:
l1

[1, 2, 3, 4]

In [7]:
# Question - 1 Write a function to extract only int and float values from a list.
def test7(l):
    l1 = []
    for i in l:
         if type(i) == int or type(i) == float:
            l1.append(i)
    return l1

In [8]:
test7(l)

[1, 2, 3, 4]

In [9]:
l

[1, 2, 3, 4, 'Nikhil', 'Gour', [1, 2, 3, 4, 5, 6]]

In [23]:
# Question - 2 Write a function to flatten a list and extract all int and float values.
def test8(a):
    """ Function to extract num data from list""" # docstring 
    l1 = []
    l2 = []
    for i in a:
        if type(i) == list:
            for j in i:
                l1.append(j)  
        else:
            if type(i) == int or type(i) == float:
                l1.append(i)
            l2.append(i)  
    return l1

In [24]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [25]:
l

[1, 2, 3, 4, 'Nikhil', 'Gour', [1, 2, 3, 4, 5, 6]]

In [ ]:
def test10(a,b): # static arguments -> Only define number of arguments we can pass to a function
    return a + b

In [26]:
def test11(*args): # dynaminc arguments -> N number of arguments we can pass to a function using (*)
    return args

In [29]:
# Example 1
def test12(*hey): 
    return hey

In [30]:
test12(3,4)

(3, 4)

In [31]:
test12(4,5,6,7,87)

(4, 5, 6, 7, 87)

In [35]:
# Example 2
def test13(*args,a): 
    return args,a

In [34]:
test13(1,2,34,5, a = 5)

((1, 2, 34, 5), 5)

In [36]:
# Example 3 , two values are already passed as parameters
def test14(c,d,a = 23,b = 1):
    return a,b,c,d

In [37]:
test14(3,4) # remaining two values are passed at the time of function calling

(23, 1, 3, 4)

In [42]:
# Example 4 , Specific type of data passing to a function 
def test15(**kwargs): # - Dictionary Format (Key & value pair)
     return kwargs

In [43]:
test15()

{}

In [44]:
test15(a = [1,23,4,5,6],b = "Nikhil",c = 25.50)

{'a': [1, 23, 4, 5, 6], 'b': 'Nikhil', 'c': 25.5}