In [2]:
# loop is used to repeat the same task multiple times automatically.
l = [1,2,3,4,5,6,7,8,9,10]

In [11]:
# Loop (Iteration)
for i in l :
    print(i+1)

2
3
4
5
6
7
8
9
10
11

In [16]:
# Question - Add 1 to each element of l(list) using for loop
# l = [1,2,3,4,5,6,7,8,9,10]
l1 = []
for i in l :
    print(i+1)
    l1.append(i+1)
l1
# done

2
3
4
5
6
7
8
9
10
11

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [33]:
# question - Convert this list into uppercase
l = ["nikhil","gour","pwskills","course"]
l1 = []
for i in l:
    print(i)
    l1.append(i.upper())
l1
# done

nikhil
gour
pwskills
course

['NIKHIL', 'GOUR', 'PWSKILLS', 'COURSE']

In [48]:
# question - Seprate these element according to their data types
l = [1,2,3,4,4,"nikhil","gour",324,34.456,"hey"]
l1_num = []
l2_str = []
for i in l :
    if type(i) == int or type(i) == float :
        l1_num.append(i)
    else :
        l2_str.append(i)
print(l1_num)
print(l2_str)
# done

[1, 2, 3, 4, 4, 324, 34.456]
['nikhil', 'gour', 'hey']

In [3]:
# extracting
l = [1,2,3,4,5]
for i in l:
    print(i , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [5]:
# extracting
l = ["Nikhil","Gour","MLSU","Udaipur"]
for i in l:
    print(i , type(i))

Nikhil <class 'str'>
Gour <class 'str'>
MLSU <class 'str'>
Udaipur <class 'str'>

In [9]:
# ( For - else loop )
# if for loop is able to complete itself then only else will execute
# l = ["Nikhil","Gour","MLSU","Udaipur"]
for i in l :
    print(i)
else :
    print("Done")
    print("if for loop is able to complete itself then only else will execute")

Nikhil
Gour
MLSU
Udaipur
Done
if for loop is able to complete itself then only else will execute

In [15]:
# l = ["Nikhil","Gour","MLSU","Udaipur"]
# practice 
for i in l :
    if i == "Gour":
        break
    print(i)

Nikhil

In [17]:
# l = ["Nikhil","Gour","MLSU","Udaipur"]
# Example of for - else loop
# break - it will stop or terminate the program where condition is matched.
for i in l:
    if i == "Gour":
        print(i)
        break # terminate
else :
    print("Execute this if for loop is able to complete itself ")

Gour

In [19]:
# l = ["Nikhil","Gour","MLSU","Udaipur"]
# Continue - it will skip or escape a particular statement of a program where condition is matched.
for i in l:
    if i == "Gour":
        continue # skip == Gour
    print(i)
# Output would be this 
# Nikhil
# MLSU
# Udaipur

Nikhil
MLSU
Udaipur

In [23]:
# range function - used to generate data 
range(5)

range(0, 5)

In [24]:
# (n - 1) Eg : 5 - 1 = 4 because index is start from 0 not 1
# It excludes n -1 element
list(range(5))

[0, 1, 2, 3, 4]

In [30]:
range(0,20,2)

range(0, 20, 2)

In [31]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [32]:
l

['Nikhil', 'Gour', 'MLSU', 'Udaipur']

In [41]:
# l = ['Nikhil', 'Gour', 'MLSU', 'Udaipur']
# question - reverse given list using loop 
for i in range(len(l)):
    print(l[i])
print()

for i in range(len(l)-1,-1,-1): # len(4) - 1 (Upperbound), till -1(lowerbound), every time -1 
     print(l[i])
# done here we go

Nikhil
Gour
MLSU
Udaipur

Udaipur
MLSU
Gour
Nikhil

In [76]:
# question - Find all elements which are available on even indexes
l2 = [23,5,45,56,6,67,67,78,87,8998,9,9,8]
for i in range(0,len(l2)-1,2): # range(start , end , jump)
    print(l2[i])
# Done Easy peasy

23
45
6
67
87
9

In [89]:
# question - WAP to sum all of elements in the list.
l3 = [1,2,3,4,7,8,98]
sum = 0
for i in l:
    sum = sum + i
print(sum)

123

In [6]:
# method 2nd
s1 = [1,2,3,4,5]
sum(s1)

15

In [8]:
# tuple - addition of all elements
t = (1,2,343,34,53,4,43,52,54)
res = 0
for i in t :
    res += i
print(res)

586

In [9]:
s = {1,2,3,4,5,"Nikhil","Pwskills"} # iteration for dictionary
for i in s:
    print(i)

1
2
3
4
5
Pwskills
Nikhil

In [10]:
s1 = "pwskills"
for i in s1:
    print(i)

p
w
s
k
i
l
l
s

In [11]:
d = {"name" : "Nikhil ","Class" : "Data Science","topic " : ["python","statc","machine learing","dl","ml"]}

In [12]:
for i in d.keys():
    print(d[i])

Nikhil
Data Science
['python', 'statc', 'machine learing', 'dl', 'ml']

In [14]:
d["name"]

'Nikhil '

In [15]:
d.items()

dict_items([('name', 'Nikhil '), ('Class', 'Data Science'), ('topic ', ['python', 'statc', 'machine learing', 'dl', 'ml'])])

In [17]:
for i in d.items():
    print(i)

('name', 'Nikhil ')
('Class', 'Data Science')
('topic ', ['python', 'statc', 'machine learing', 'dl', 'ml'])

In [18]:
for i in d.values():
    print(i)

Nikhil
Data Science
['python', 'statc', 'machine learing', 'dl', 'ml']

In [20]:
for i in d.keys():
    print(d[i])

Nikhil
Data Science
['python', 'statc', 'machine learing', 'dl', 'ml']

In [21]:
for i in d.keys():
    print(i)

name
Class
topic