Map,Reduce,Filter Function

In [14]:
l = [1,2,3,4,5]

In [15]:
def test(l):
    l1 = []
    for i in l:
        l1.append(i**2)
    return l1

In [16]:
test(l)

[1, 4, 9, 16, 25]

1. MAP FUNCTION

In [22]:
# Example - 1
l = [3,4,5,6,6]
def sq(x):    # Function
    return x**2

In [23]:
list(map(sq, l)) # Using Map with Normal Function

[9, 16, 25, 36, 36]

In [24]:
# Example - 2
l = [5,6,7,8,9]
list(map(lambda x : x**2,l)) # Using Map with Lambda Function

[25, 36, 49, 64, 81]

In [30]:
# Example - 3
l1 = [1,3,35,46,5]
l2 = [1,2,3,4,5]
def add(a,b): # Using Map with Normal Function
    return a + b

In [31]:
list(map(add,l1,l2))

[2, 5, 38, 50, 10]

In [32]:
# Example - 4
l1 = [1,3,35,46,5]
l2 = [1,2,3,4,5]
list(map(lambda x,y : x + y ,l1,l2)) # Using Map with Lambda Function

[2, 5, 38, 50, 10]

In [33]:
# Example - 5
s = "pwskills"
list(map(lambda s:s.upper(),s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [36]:
# Example - 6
s = "PWSKILLS"
list(map(lambda s : s.lower(),s))

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

2. REDUCE FUNCTION

In [37]:
from functools import reduce # Reduce is available in function tool package,we need to import.

In [39]:
# Example - 1
l = [1,2,3,3,4,5]
reduce(lambda x,y:x+y,l)

18

In [48]:
# Example - 2
l = [1,2,3,4,5,6]
print(reduce(lambda x,y:x*y,l)) # Here number of arguments always should be 2 not 3

720

In [49]:
reduce(lambda x,y : x+y,[]) # It is not gonna work

TypeError: reduce() of empty iterable with no initial value

In [50]:
reduce(lambda x,y : x+y,[1]) # Exception case

1

In [54]:
# Example - 3
l = [1,2,3,4,5,6,50,]
reduce(lambda x,y : x if x>y else y ,l)

50

3. FILTER FUNCTION

In [57]:
# Example - 1 Find Even numbers
l = [243,4,5,6,434,233,32,123,45,66,78,90,100]
list(filter(lambda x : x%2==0,l))

[4, 6, 434, 32, 66, 78, 90, 100]

In [73]:
# Example - 2 Find numbers which are divisible by 5
l = {5,25,30,35,36,38,90,22,11,12,25} # This is a set so we will only get unique values
list(filter(lambda x : x%5 == 0,l))

[35, 5, 25, 90, 30]

In [75]:
# Example - 3 Find Odd numbers
l = [243,4,5,6,434,233,32,123,45,66,78,90,100]
list(filter(lambda x : x%2!=0,l))

[243, 5, 233, 123, 45]

In [79]:
# Example - 4 Find negative numbers
l = [-1,-4,-6,6,7,8,4,2,-10,]
list(filter(lambda x : x<0 ,l))

[-1, -4, -6, -10]

In [83]:
# Example - 5 Find a string which has length 5 only
s = ["pwskills","hello","bruhh","Python","Data_science"]
list(filter(lambda s : len(s)<6,s))

['hello', 'bruhh']